<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Marshall &amp; Walee</title>
</head>
<div><h3><a href="https://github.com/tengcong/58cat">folk me on github</a></h3></div>
<div>
<h1>一黑一白两只猫咪找好心人帮忙带春节这几天</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=363ADC57A9D92BD38E48488B74F736ABC"><br><h5 style="display: inline">果果</h5>
<h5 style="display: inline">昌平县城</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">2分钟</h5>
<h5>由于本人春节要回老家过年，心爱的两只猫咪无人照料，所以寻求喜欢猫咪的好心人帮忙带几天。我家猫咪都很可爱，很亲近人。小黑猫喜欢抱着我得小腿让给他好吃的，是个交际花。大白猫孤傲，喜欢照镜子</h5>
<a href="http://bj.58.com/cwzengsong/12794465779203x.shtml">detail</a><br><img src="http://1.pic.58control.cn/mobile/big/n_1600414623907864.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1600414634312985.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1600414637591066.jpg"><br><img src="http://3.pic.58control.cn/mobile/big/n_1600414664573976.jpg"><br><img src="http://3.pic.58control.cn/mobile/big/n_1600414679107609.jpg"><br><hr>
<h1>小猫咪领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5257E50DAF63A8D0N9491F4E5EA9ADDBE"><br><h5 style="display: inline">灰小蝶</h5>
<h5 style="display: inline">安定门</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">02-02</h5>
<h5>我家有一只猫，才一岁多，无任何病现在只求能为他找到一位能够善待它，不要轻易的抛弃他</h5>
<a href="http://bj.58.com/cwzengsong/12772554205702x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1597604652419353.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1597607807893784.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1597608156905752.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1597608364640538.jpg"><br><hr>
<h1>半年大猫弟弟急</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=491BCD1097F4C32087DE01DE0D0FBAA30"><br><h5 style="display: inline">玲玲</h5>
<h5 style="display: inline">奥运村</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-02</h5>
<h5>非常懂事乖巧的猫弟弟.带猫粮</h5>
<a href="http://bj.58.com/cwzengsong/12769376927491x.shtml">detail</a><br><img src="http://4.pic.58control.cn/mobile/big/n_1597199565276442.jpg"><br><hr>
<h1>为猫娃娃找新家</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=CD0D04E83003B67C24871FBBD201A0B57"><br><h5 style="display: inline">刘女士</h5>
<h5 style="display: inline">东城</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-01</h5>
<h5>家里猫妈妈生了猫娃娃。小猫娃娃6只，加上猫妈妈五只，家里猫猫实在太多了，照顾不过来了！小娃娃已两个多月，个个健康，活泼。现为猫娃娃们找新家。新妈妈要有爱心，真心疼爱它，真诚照顾它。感谢领养小娃娃们的新妈妈！请猫贩勿扰！</h5>
<a href="http://bj.58.com/cwzengsong/12762975026051x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1596377723306775.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1596379096793370.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1596380004205081.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1596382691541529.jpg"><br><hr>
<h1>猫咪班班找领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=564B7FAD8F4F4CC0NAE617A5FD5B027AF"><br><h5 style="display: inline">张小姐</h5>
<h5 style="display: inline">双井</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-01</h5>
<h5>班班，公猫，1岁大，已做绝育，非常亲人，现在住在我家的楼道里，每天一开门就想近家，无奈家中不同意我再收养猫咪，可是班班非常执着的在我家楼道不肯离开，看着孩子这样，心里着实不是滋味，所以在这里发个帖子，希望能给班班找到好人家，让孩子能安心渡完此生。在这里给猫咪找新家,要真心喜欢猫咪,能够对猫咪做到不离不弃,有病就医,养宠物是对宠物一生的承诺,请慎重考虑。发几张照片,有喜欢的朋友请与我联系。</h5>
<a href="http://bj.58.com/cwzengsong/11602586382082x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1596264410349592.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1596264614117401.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1596264786936602.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1596264980089111.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1596265194438681.jpg"><br><hr>
<h1>四只小猫求领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=59E85158E55808952D0BB45DA81A9C42F"><br><h5 style="display: inline">陶先生</h5>
<h5 style="display: inline">劲松</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">11小时</h5>
<h5>小猫三个月大 四种花色 求靠谱人领养</h5>
<a href="http://bj.58.com/cwzengsong/12716549276295x.shtml">detail</a><br><img src="http://1.pic.58control.cn/mobile/big/n_1590441051195930.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1590441197061401.jpg"><br><img src="http://3.pic.58control.cn/mobile/big/n_1590441256648985.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1590441295414042.jpg"><br><img src="http://2.pic.58control.cn/mobile/big/n_1590441363653402.jpg"><br><hr>
<h1>免费送养三花猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=22B8A01C1FA4168741EDD54010E8D5FF0"><br><h5 style="display: inline">赵女士</h5>
<h5 style="display: inline">北沙滩</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-30</h5>
<h5>自家养的小母猫，现在一岁多，很乖，已做绝育因为最近计划要宝宝，家里人不同意继续养希望找到爱猫人士，给小猫一个温暖的家谢谢家中另有封闭式猫砂盆，猫包，猫粮，猫砂，也一并免费赠送因为自己没有车，烦请自取</h5>
<a href="http://bj.58.com/cwzengsong/12738707036161x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1593276511650074.jpg"><br><hr>
<h1>春节回家一周.找个沙河附近的好人家寄养猫咪一周</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=10516ECD6AD4D6C5BDAE865A4710EA61C"><br><h5 style="display: inline">闫先生</h5>
<h5 style="display: inline">沙河</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-30</h5>
<h5>我家 咪咪 7个多月 男性 因为过年回家一周  希望在北京沙河城铁附近的好人家帮忙寄养1周 2月6.7号到2-15号.猫砂猫粮我们自备  我自送自取 绝对不能打它  如需费用可详谈.</h5>
<a href="http://bj.58.com/cwzengsong/12738583820297x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1593253572493336.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1593253716869655.jpg"><br><hr>
<h1>跪求一只可爱的小猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=17A70F0EAE0978FC0737921DD08A67364"><br><h5 style="display: inline">唐先生</h5>
<h5 style="display: inline">通州周边</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">01-30</h5>
<h5>特喜欢小猫咪，希望好心人赠送，我会好好照顾它的。最好是刚几个月的。非常感谢</h5>
<a href="http://bj.58.com/cwzengsong/12737598722690x.shtml">detail</a><br><img src="http://1.pic.58control.cn/mobile/big/n_1593131997169944.jpg"><br><hr>
<h1>宠物猫赠送啦,希望好心人收留</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=491976AD8D68694000EC8816B117D761C"><br><h5 style="display: inline">余先生</h5>
<h5 style="display: inline">通州</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-29</h5>
<h5>因要回老家过年，没办法养，希望找个好主人继续领养它，太忙了. 猫咪也有2个月没打理了，毛没照片顺， 不多说了看照片吧，还有5天回家了 不收取任何费用 就希望找个好主人继续领养 母猫咪已经做了绝育 预防针都打过了 猫咪在通州台湖，有要的朋友，可以过来拿</h5>
<a href="http://bj.58.com/cwzengsong/12732390872327x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1592467539641623.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1592467745915929.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1592467978635032.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1592468173112602.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1592468374340887.jpg"><br><hr>
<h1>家附近有只被遗弃的小花猫,生病了</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=D4BC1E2E49639073DD4B21ACCEE9B1223"><br><h5 style="display: inline">李先生</h5>
<h5 style="display: inline">刘家窑</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-29</h5>
<h5>挺乖的小猫，由于他以前的主人搬家，把他遗弃了，如果家里有喜欢猫猫的就请领养了吧 猫很乖，天很冷，小猫总是冷的喵喵叫，但是我有哮喘对猫过敏 家里还有小狗 无法饲养。   小猫今天抱回来给他洗了个澡  他就乖乖的站在洗衣机上两个小时不动了很听话、医生说是呼吸道和内脏感染了 可能是小猫吃脏东西了，给他打针了，但是家里不能长时间养，天气好了 打算把小猫放回小区。希望能有好心人领养，小猫差不多五六岁吧 ，毛干了后感觉毛茸茸的很可爱，经常站在我家门口 想进家门  他很想有个家</h5>
<a href="http://bj.58.com/cwzengsong/12732023677698x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1592422023923481.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1594760596621849.jpg"><br><hr>
<h1>(急)离京,赠送两只白色小猫</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=E650B38A761BEFAB26FA75A423B50DF22"><br><h5 style="display: inline">黄先生</h5>
<h5 style="display: inline">垡头</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-28</h5>
<h5>本人31号离京，有两只白色小猫赠送给有爱心的人家，一只公，一只母，公猫已经做节育，都是1岁多，母猫眼睛一只蓝色一只黄色，公猫两只眼睛都是蓝色，喜欢猫的童鞋，请速与我联系，无偿赠送。</h5>
<a href="http://bj.58.com/cwzengsong/12715994653441x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1590370112227864.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1590370132935192.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1590370144257303.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1590370158561816.jpg"><br><hr>
<h1>赠送俩个月小猫一只</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5319C62AF8B40AC9LCDF2615EE27E00C8"><br><h5 style="display: inline">张扬</h5>
<h5 style="display: inline">西坝河</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-24</h5>
<h5>本人有俩只一只是白的，一只是黄的，打算给黄颜色的猫猫找个疼它的主人。</h5>
<a href="http://bj.58.com/cwzengsong/12677193632137x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1585403699938584.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1585407060885785.jpg"><br><hr>
<h1>希望有好心人士收养我家猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=622C996806B8B816P2643D2DC2B0A3AD7"><br><h5 style="display: inline">李媛</h5>
<h5 style="display: inline">窦店</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-24</h5>
<h5>大猫是三花猫 长毛  一岁多，很乖，冷了会自己钻被窝，爱干净，不吵不闹，喜欢晒太阳，爬在窗台看窗外，胆小，不乱跑，去小区超市买东西，放到对面草丛里，回来它还是会在原地呆着等你的。会用猫砂，不乱吃东西。小猫中华田园猫  三个月多，活泼好动，很聪明 千万别教它做坏事，学的可快。收养小猫回赠送它的玩具和沐浴露，这两只小猫都不是我的，我是米有办法要搬家，不能带着它们，猫的主人竟然让我丢掉，我不忍心，所以希望有好心人士收留它们。</h5>
<a href="http://bj.58.com/cwzengsong/12673376057354x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1584914923979032.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1584915015943192.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1584915068847383.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1584915123405080.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1584915160040218.jpg"><br><hr>
<h1>美丽亲人的猫咪公主找家</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=3C9BB41A902D9AF0TA3C6DA2BC5E06E0C"><br><h5 style="display: inline">史女士</h5>
<h5 style="display: inline">大兴</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-24</h5>
<h5>公主是早些时候被无良主人弃养在某公园的骄傲可人，因为外表过于美丽动人，所以也曾经一度被一些好心人拿回家照顾，无奈那时的公主还惦记从前的家庭，所以一直不适应新家，今年入冬，实在不忍心让公主还在外面流浪，所以被救助人抱回家，果然公主没让我们失望，很快适应家庭生活，并且异常的依赖人类，所以现在才敢放心大胆的给她找家。希望想要饲养宠物的你，可以给这种流浪过的孩子一个家。也许，你会担心成年猫咪很难相处出很深的感情，其实，这么多领养经验下来。反而是那些已经成年，并且遭遇过流浪的猫咪，更珍惜一个家庭带给自己的幸福感。要求：善良，对动物有耐心，对待猫咪真正像对待一个生命一样。不离不弃，不因搬家、结婚生子等原因遗弃它。并且时常给救助人发一些近照，让我们知道你们都安好！</h5>
<a href="http://bj.58.com/cwzengsong/12666690483075x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1584057667846938.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1584058044334105.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1584058514623002.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1584058858521113.jpg"><br><hr>
<h1>可爱小猫一只 好心人领养</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">王女士</h5>
<h5 style="display: inline">鲁谷</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-23</h5>
<h5>小猫 6个月大小 已经打完了疫苗了  没有绝育  非常粘人 希望好心人领养</h5>
<a href="http://bj.58.com/cwzengsong/12660586389129x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1583277368247319.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1583277829489434.jpg"><br><hr>
<h1>可爱小喵赠送——带携带箱、猫窝、猫粮</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=9E5E6CC17EE389454180BF0D34C9B59FB"><br><h5 style="display: inline">袁女士</h5>
<h5 style="display: inline">航天桥</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-22</h5>
<h5>可爱猫咪，比较粘人，已经打过疫苗</h5>
<a href="http://bj.58.com/cwzengsong/12653979339654x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1582430067362328.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1582431572803610.jpg"><br><hr>
<h1>求好心人领养猫猫。</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5110CB0DF04D48E0D29851420EAD591B7"><br><h5 style="display: inline">王先生</h5>
<h5 style="display: inline">团结湖</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-22</h5>
<h5>家中变故，所以陆续领养的猫咪现在没办法继续养了，求好心人领养。</h5>
<a href="http://bj.58.com/cwzengsong/12651842773257x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1582151486652697.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1582151621215770.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1582151819593496.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1582152187330584.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1582152612775961.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1582152973484825.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1582153354167319.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1582158918337817.jpg"><br><hr>
<h1>可爱猫咪赠送</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=9908E94331647F99BC70AEDBB38B8407D"><br><h5 style="display: inline">与小猫</h5>
<h5 style="display: inline">大兴</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-21</h5>
<h5>因过年回家，忍痛赠送黄白相间猫咪一只。</h5>
<a href="http://bj.58.com/cwzengsong/12641319238019x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1580811771921689.jpg"><br><hr>
<h1>想领养一只小猫</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">孟鑫</h5>
<h5 style="display: inline">青塔</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">01-21</h5>
<h5>最好是刚出生不到半年的，比较小的猫咪，不要有什么病的。如果是如图这种猫最好。谢谢！！</h5>
<a href="http://bj.58.com/cwzengsong/12643841090953x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1581134400424472.jpg"><br><hr>
<h1>赠送一只可爱的三花猫</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=BA266CA8D094550502E2D70D5E252899A"><br><h5 style="display: inline">朱先生</h5>
<h5 style="display: inline">丰台体育馆</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-19</h5>
<h5>姓名：花花；年龄：1岁2个月；品种：是一只非常非常可爱的三花猫，长得很漂亮。习惯爱好：爱干净，从来不乱拉尿，喜欢使用猫砂。爱吃“皇家猫粮”，别的品牌的也吃。补充很重要的一点，她挺离不开我的，到您家的头几天可能会喵喵不停叫，不适应，但我相信很快会适应的。如果您家有猫的话，可能她就能更快的适应了。赠送原因：老婆怀孕，全家人不让养了。附加赠品：品牌猫砂盆、猫提笼、猫香水、猫抓板、猫玩具、猫水盆、猫食盆、猫砂等。</h5>
<a href="http://bj.58.com/cwzengsong/12618550855430x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1577893719524888.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1577894778816536.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1577895586545689.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1578041075616025.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1578045134571032.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1578045396829463.jpg"><br><hr>
<h1>赠送可爱猫咪两只黑白花/三花猫</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=D8FAD403DB53064ARF022EC5C52A6631C"><br><h5 style="display: inline">孟女士</h5>
<h5 style="display: inline">四惠</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-19</h5>
<h5>马上要回老家过完春节才能回京希望喜欢猫的人联系我</h5>
<a href="http://bj.58.com/cwzengsong/12621633769729x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1578291575030807.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1578291867713561.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1578292050673945.jpg"><br><hr>
<h1>自己家一年大猫送人。因为要离开北京</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5BD15D181E0F28FBLC74945628FBD08E2"><br><h5 style="display: inline">梦儿</h5>
<h5 style="display: inline">成寿寺</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-19</h5>
<h5>自己家养了2个猫。已经有一年了。非常健康。因为要离开北京。又没法带走。所以想送有爱心喜欢猫的人士收养。希望能好好待猫猫..猫猫脾气很好。而且吃的很胖。呵呵。有想收养的就联系我。我在方庄桥东分钟寺这边。也可以单独领养一只。，</h5>
<a href="http://bj.58.com/cwzengsong/12617413511299x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1577751199139098.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1577751294116633.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1577751475012890.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1577751550935064.jpg"><br><hr>
<h1>纯种猫猫赠送</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5283354274D3C300XDEB94A1CEBEE0D98"><br><h5 style="display: inline">刘小姐</h5>
<h5 style="display: inline">CBD </h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-18</h5>
<h5>都是血统纯正的猫猫。有异国，有苏格兰折耳，有美国短毛，有英国短毛。一起10只猫猫。寻找合适的有爱心人士领养。猫猫都已是大龄猫猫，没有繁殖的可能，只能陪伴你，给你欢乐。。领养者慎重。。谢谢。。</h5>
<a href="http://bj.58.com/cwzengsong/12600779297543x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1575622811845401.jpg"><br><hr>
<h1>一岁半的白色男猫猫求抱走</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">高同学</h5>
<h5 style="display: inline">航天桥</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-17</h5>
<h5>小奶猫时收养的，因为宿舍条件有限，放假没有人在，所以想给猫咪找一个稳定的归宿，希望爱猫猫有固定居所的人给他一个家。。。猫猫免疫过了~</h5>
<a href="http://bj.58.com/cwzengsong/12596783811461x.shtml">detail</a><br><img src="http://2.pic.58control.cn/p1/big/n_1575110929695256.jpg"><br><hr>
<h1>可爱纯种折耳叮当猫，找新主人</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=C7D0CE84CABDCDB64F406191263A74E92"><br><h5 style="display: inline">小美</h5>
<h5 style="display: inline">丰台</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-17</h5>
<h5>棕虎斑苏格兰折耳弟弟，2012年7.28出生。 猫妈妈是自己家里养的苏格兰折耳母猫，干净漂亮。 猫爸爸是猫舍的棕虎斑美短种猫，品相超好。 买猫就送皇家幼猫猫粮，猫包。 照片拍不出真正的可爱，欢迎上门看猫，可看视频联系我时，请说是在58同城上看到的，谢谢！</h5>
<a href="http://bj.58.com/cwzengsong/12595614941703x.shtml">detail</a><br><img src="http://4.pic.58control.cn/mobile/big/n_1574961566058265.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1574961621795352.jpg"><br><hr>
<h1>要怀孕了婆婆不同意养猫赠送金色虎斑猫</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">琳女士</h5>
<h5 style="display: inline">望京</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-16</h5>
<h5>说一说我和财财得缘分：财财是我好朋友封零家里生得，她出生在2011年10月1日，天平座。在他一个月多点得时候被我和男朋友抱走，接走财财没多久，财财爸就赚了一笔小钱，财财爸一高兴，觉得她是招财猫，取名财财。财财刚来我家得时候不吃饭，不喝水，胆子属于极小得猫咪，财财爸担心她不吃不喝会挂掉，夜里带她去望京得芭比堂宠物医院，大夫说没事，给了点类似粥一样得鱼罐头，说是小小幼猫吃得，又给了点针头，叫我们掰开她得嘴喂她喷点水，又过了一天，财财开始吃东西了，不过还是很害怕，抓住厚厚得窗帘不放，试图把自己包起来，不被发现，虽然财财不是英短，美短，可是我和她爸爸都很疼爱她，把她当小公主，三个月得时候带她扎了猫三联，狂犬，带她做美容spa，给她买衣服，吃罐头，给她买漂亮得笼子，前前后后给她花了六七千，财财身体很健康，现在已经一岁零2个月。后来我和男朋友结婚了，财财爸成了我得老公，我们变成跟婆婆住，婆婆从开始就怕猫狗，而且对猫毛过敏，婆婆为了尊重我们，没有下令叫我们送走财财，但是一直有这个意思，直到我们计划要孩子了，婆婆得原则是生孩子之前绝对不可以再养猫了，所以财财需要有心人来领养了，我得朋友安慰我说，能在一起是缘分，说明我跟她得缘分就到这了，我也无奈接受了。我们对财财得新主人没有太多要求，只求要求有爱心，爱猫，能给她一个干净幸福得家。</h5>
<a href="http://bj.58.com/cwzengsong/12578993335942x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1572816501867802.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1572816593059863.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1572816684353304.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1572816752067351.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1572816846161688.jpg"><br><hr>
<h1>猫咪躲躲转赠</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=732CEDD49D505B63NB82565CC0D06A90C"><br><h5 style="display: inline">侯女士</h5>
<h5 style="display: inline">八角</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-15</h5>
<h5>过年回家 给宝贝儿寻个归处</h5>
<a href="http://bj.58.com/cwzengsong/12574001756042x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1572209931191064.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1572210184831767.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1572210464540439.jpg"><br><hr>
<h1>上地附近送出一只可爱的小猫咪</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">孙女士</h5>
<h5 style="display: inline">上地</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-15</h5>
<h5>猫咪几个月大了，一直我养着，很调皮喜欢跟人玩，好养活，什么都吃，我要出国，家里没人，照顾不了，现在想给孩子找个新主人，希望喜欢小动物的好心人家能照顾它~。我在上地附近 </h5>
<a href="http://bj.58.com/cwzengsong/12563376630794x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1570835051120153.jpg"><br><hr>
<h1>赠送家中肥肥胖胖的可爱白色猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=27DB5B9C25A06FD961268231DF09100F3"><br><h5 style="display: inline">马先生</h5>
<h5 style="display: inline">洋桥</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-12</h5>
<h5>小猫名叫小米，今年2岁半（男猫已绝育），是我从小养大的，每年都定期打疫苗，因现在家中原因不适合再养它了，小米胖胖的很可爱，偶尔会小调皮一下，希望给它找一个真正喜欢猫，在京有固定住所，能对它好的好主人，虽然它算不得什么名贵品种，但是它会带给你很多快乐的，我们会将它专属的猫砂盆一并赠送给您，如果喜欢它请跟我联系！</h5>
<a href="http://bj.58.com/cwzengsong/12540583794569x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1567909072454423.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1567911402274840.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1567913966799129.jpg"><br><hr>
<h1>赠送可爱白色小猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=7CF6B58B8E0A71E44221087D12E2824DC"><br><h5 style="display: inline">刘女士</h5>
<h5 style="display: inline">北京</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-10</h5>
<h5>小白是去年4月13日出生的 一直跟着我 很乖，由于自己要租房了没法带着它 我也很舍不得 但现在真的没办法，只能帮它找个好的主人照顾了。希望有稳定住所 诚心想养的人士领养</h5>
<a href="http://bj.58.com/cwzengsong/12522684926081x.shtml">detail</a><br><img src="http://2.pic.58control.cn/p1/big/n_1565625083183129.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1565625727945239.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1565625950225432.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1565626613710873.jpg"><br><hr>
<h1>找爱猫的帅哥美女暂寄养泰国暹罗猫</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=63B2D838CF462B2945AFDF1395DA17DF7"><br><h5 style="display: inline">蔡先生</h5>
<h5 style="display: inline">天通苑</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-10</h5>
<h5>好心的帅哥/美女，首先申明，我不是赠送，也不卖，而是有事离京一个月的时间，不忍心把猫放宠物医院，所以找爱猫的朋友帮忙照看，猫砂、猫粮等全部齐全。待我回京，一定以礼相待，好好报答你~      如果有春节不离京的朋友，愿意短时间尝试养猫的朋友帮帮我~~感激不尽（PS：我家猫猫不卖不送！）！</h5>
<a href="http://bj.58.com/cwzengsong/12521407155202x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1565461992655383.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1565462148972825.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1565462324496409.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1565462515468568.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1565462731915287.jpg"><br><hr>
<h1>本人爱猫求收养,美短与白猫混血,听话通人性</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=1AB97CC75248EAE54A5AE64E85842A417"><br><h5 style="display: inline">孙先生</h5>
<h5 style="display: inline">方庄</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-10</h5>
<h5>本人爱猫，男孩，3岁多，很漂亮，后背上还有一个心形的花纹，听话通人性,特别讲卫生，每天早上准时叫我起床上班，因个人原因，虽不舍但也没有办法，所以想找一个疼猫爱猫的认识 收养，他所有物品都可以送给你，包括全封闭进口猫厕所，猫食碗，沐浴露等。重点是人一定要爱猫对猫猫好。</h5>
<a href="http://bj.58.com/cwzengsong/12516578275207x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1564843192436761.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1564843390714137.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1564843555244055.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1564843799349784.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1564844036342297.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1564844268371991.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1564844500157976.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1564844697519642.jpg"><br><hr>
<h1>非常漂亮可爱的短毛狸花猫宝贝(短期寄养)</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=71FB9E457166EE5E81E7B6092EF3846E2"><br><h5 style="display: inline">安樱</h5>
<h5 style="display: inline">八角</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-09</h5>
<h5>因主人春节外出求短期寄养2个月左右（如新主人特别善待，可以考虑赠送）石景山八角区域最佳，以方便接送。猫咪大大的宝石蓝色眼睛，巧克力色白纹，非常乖，喜欢让主人抱。</h5>
<a href="http://bj.58.com/cwzengsong/12494046356101x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1563478797631513.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1563478766944793.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1561959387349527.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1561959450626328.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1563478728197911.jpg"><br><hr>
<h1>可爱猫咪求寄养十天</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=D0EC9D7F2365D72E88044E7E0BAA29BB2"><br><h5 style="display: inline">赵女士</h5>
<h5 style="display: inline">天竺</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-09</h5>
<h5>因本人过年放假要回老家十天，猫咪无处安置，求爱心爱猫人士帮忙养十天，备有猫粮和猫砂，猫咪会自己上厕所，很乖巧很温顺的乌云盖雪,希望有爱猫的朋友可以帮忙，真的不想让猫咪孤独的在家度过一个假期。我的地址在顺义天竺花园，如有就近的朋友更好。</h5>
<a href="http://bj.58.com/cwzengsong/12507029251466x.shtml">detail</a><br><img src="http://2.pic.58control.cn/p1/big/n_1563619415376152.jpg"><br><hr>
<h1>赠送四个月大黑色幼猫</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=E662F41CD9982A3ER99E2A0B2CFF80F63"><br><h5 style="display: inline">冉女士</h5>
<h5 style="display: inline">朝阳周边</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-08</h5>
<h5>因为月底就要回家一个多月，没办法再照顾它了，其实很舍不得它。年后可能会把孩子接过来，怕猫咪抓伤宝宝，所以不得已才将它送出。希望有好心人领养，好好对它</h5>
<a href="http://bj.58.com/cwzengsong/12497070209794x.shtml">detail</a><br><img src="http://3.pic.58control.cn/mobile/big/n_1562342512460314.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1562342631244824.jpg"><br><hr>
<h1>活泼可爱的小猫,免费送</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=577A85226AF4E1CF445F4CF3A705E97A3"><br><h5 style="display: inline">张女士</h5>
<h5 style="display: inline">常营</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-08</h5>
<h5>刚刚六个月的小猫咪，活泼可爱，是小男猫，非常爱干净会用猫砂，因为工作太忙无法照顾，找个好心心领养，只要对他好久可以</h5>
<a href="http://bj.58.com/cwzengsong/12494059334535x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1561962337814297.jpg"><br><hr>
<h1>很迫不得已的赠送大猫。</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=8D6093C2F89008376F0EB9278A82CF3A7"><br><h5 style="display: inline">刘小姐</h5>
<h5 style="display: inline">裕龙</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-06</h5>
<h5>小黑，公仔，一岁多，已经绝育，很干净没有寄生虫之类的。小白，萌妹，也是一岁多，跟小黑是一天生日，已绝育。很健康。现在吃的是妙多乐，猫砂就不用说了，天生会用。他俩从小在一块，从没分开过，（希望能一块领养）胆子有点小，因为我是外地人，经常租房子，带着他们很不方便。当初领养他们的时候，看着他们没人要，很可怜，我就一冲动养到现在，可我毕竟是外地人，想送回老家，我一介屌丝，木有车，没办法带回老家。我的朋友们也都是外地的，没条件养。所以，很希望能在北京有固定住所，而且真心喜欢猫，家人不反对养猫的朋友能帮我照顾他们。在此感谢了！如果您领养了，能让我看看他们的照片视频什么的，就很感谢了。猫贩子请绕道，我不想看到我最爱的猫咪让你们伤害，而且他俩只是很普通的家猫而已，比不上血统贵族猫。不是真心领养的，勿扰吧。我心里已经很难过了。 手机号码18611933668 </h5>
<a href="http://bj.58.com/cwzengsong/12475666438791x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1559604215202839.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1559605014874391.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1559607007232279.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1559607263856407.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1559607529687063.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1559607771349527.jpg"><br><hr>
<h1>给心爱的猫猫找个好心人</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">张小姐</h5>
<h5 style="display: inline">通州北苑</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-06</h5>
<h5>自己养了几年了，特别可爱，非常听话，身体健康也做过体检弓形虫什么的都没有，非常健康，已经做过绝育了。自己现在与老人在一起，老人不让养闹得很尴尬了。希望找个好人家最好距离近些我可以经常去看看。</h5>
<a href="http://bj.58.com/cwzengsong/12465247203459x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1558252579850519.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1558253496909847.jpg"><br><hr>
<h1>5个月大的黄色婴儿猫找人领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=949E0817D7D0D7EC2095B4E4DC720F3DB"><br><h5 style="display: inline">李飞</h5>
<h5 style="display: inline">果园</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">01-05</h5>
<h5>猫咪应该是比较亲人的猫咪，挺健康的，身上也挺干净。领养条件：1.坚决拒绝猫贩子、食猫、养几天就嫌烦虐待猫咪、养着好玩、养几天不养的人，这几类人不要联系我；2.猫咪寿命10几年，想好了再养，考虑好自己结婚生子的问题，要能妥善的安置好猫咪才可领养； 能对猫咪不离不弃的优先考虑；3.对猫咪有耐心，舍得给猫咪花钱买猫粮，猫砂，给猫咪看病，必要时买药打针；猫咪图片我还没拍，我在网上找了几张跟猫咪很像的图片，猫咪实体很好看的，特可爱。</h5>
<a href="http://bj.58.com/cwzengsong/12461572985351x.shtml">detail</a><br><img src="http://2.pic.58control.cn/p1/big/n_1557804332566295.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1557804386403095.jpg"><br><hr>
<h1>白色女猫求领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=4AE286722F3523AB43EF80BA4DBE4F192"><br><h5 style="display: inline">小西</h5>
<h5 style="display: inline">望京</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-05</h5>
<h5>纯白的小女猫，一岁左右，已免疫，未做绝育，给她找个温暖的家</h5>
<a href="http://bj.58.com/cwzengsong/12464329923205x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1558157059178519.jpg"><br><hr>
<h1>个人诚心想领养一只短毛猫</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=4AB141773318640A0238263F31DB4CB35"><br><h5 style="display: inline">李女士</h5>
<h5 style="display: inline">西二旗</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">01-31</h5>
<h5>我是个人之前也养过猫有经验，现在我和我家人一起住，家人也喜欢有个猫，平时我上班姥姥也可以照顾下，希望有缘人可以相赠一只短毛的累死虎斑的猫咪，因为之前养的就是虎斑猫，对虎斑猫有种特别的感情，所以希望有人能相赠一只，希望猫咪温柔不咬人，其他的无要求。</h5>
<a href="http://bj.58.com/cwzengsong/12663187903110x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1583611007371546.jpg"><br><hr>
</div>
</html>
