<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Marshall &amp; Walee</title>
</head>
<div><h3><a href="https://github.com/tengcong/58cat">folk me on github</a></h3></div>
<div>
<h1>家养波斯玳瑁猫咪一只免费领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=C21135A4BD2AA27C4986A6B9325297EBF"><br><h5 style="display: inline">刘先生</h5>
<h5 style="display: inline">天通苑</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">6小时</h5>
<h5>自家养的波斯玳瑁猫咪一只，一岁半了。驱虫免疫已做，有意联系。</h5>
<a href="http://bj.58.com/cwzengsong/13047680807816x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1632825513296409.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1632825672810519.jpg"><br><hr>
<h1>赠送纯种猫,找爱心人领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=3B43FB9B1B1F600725537354E78126744"><br><h5 style="display: inline">刘女士</h5>
<h5 style="display: inline">亚运村</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">17小时</h5>
<h5>家有泰国暹罗猫三只，2--5岁，分别为虎斑两只，巧克力色一只，聪明、优雅、纯正，与人亲近。因家里老人生病住院无法照料，故特别转让给好心人领养。有意者联系我，并说明是在58同城看到的，谢谢！</h5>
<a href="http://bj.58.com/cwzengsong/13042244183939x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1632124382053399.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1632126944165912.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1632127387042839.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1632127824185368.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1632129209172761.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1632129811743768.jpg"><br><hr>
<h1>蓝眼睛萌猫找新家</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=C1A11FF41911D7388CAF55B06A81489D5"><br><h5 style="display: inline">张女士</h5>
<h5 style="display: inline">双井</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-26</h5>
<h5>小区里新来的流浪猫，性别女，年龄不详，性情温顺，一双蓝色的大眼睛非常动人。因为我家已经有3只猫咪了，所以想看是否有人愿意领养。我们已经给它洗了澡，剪了指甲，对耳朵内部了做过了清洁。现在在睡觉，等下再发大头照片来。</h5>
<a href="http://bj.58.com/cwzengsong/13039150717958x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1631614472175639.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1631614719542551.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1631614964827417.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1631736776181528.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1631737058034199.jpg"><br><hr>
<h1>北京求领养一只猫咪~</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=7F5ED3DF766D676DP80DD2A6A0A265613"><br><h5 style="display: inline">李小姐</h5>
<h5 style="display: inline">北京</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">02-26</h5>
<h5>朋友家的寄养的猫要领走了 我还想继续养一个长得一样的~就下面图上那样的~~可以收大猫，但大猫不要是太胆小的那种~~家里还有一个猫爬架和好多金丝软针~我会继续把它养胖的~~哈哈</h5>
<a href="http://bj.58.com/cwzengsong/13036288016391x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1631363710026775.jpg"><br><hr>
<h1>因工作原因不能照顾我家宝贝猫,特求好心人领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5078A200D0BB406E40561B54217C9ADC1"><br><h5 style="display: inline">周女士</h5>
<h5 style="display: inline">北七家</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-26</h5>
<h5>可爱的喵星人，我其实很不舍得送人，但是因经常加班和出差，把小家伙自己关在房间十几天，自生自灭，实在于心不忍，所以只能选择给它找个好人家。小猫一岁左右，特别粘人，每天会接你进门，在脚边绊来绊去，还会躺下来等你揉它肥肥的肚子，把小脑袋伸到你手掌里使劲蹭，特别贴心和懂事。因为是奶猫抱过来的，就没给打针，如果确定领养，我可以先把所有的免疫和驱虫做了再送，另外家里还有三层的猫别墅和猫粮猫砂及猫盆等，可以一并赠送。请好心人收养，并保证不离不弃。</h5>
<a href="http://bj.58.com/cwzengsong/13035794676873x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1631304269562905.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1631304328741143.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1631304383905816.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1631304405369626.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1631304430846234.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1631304453653530.jpg"><br><hr>
<h1>赠送一只小猫,好心人请联系非诚勿扰</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=6B50C4D71FA4E9BDJF666A1A307E150EC"><br><h5 style="display: inline">董小鹏</h5>
<h5 style="display: inline">垡头</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-25</h5>
<h5>黄白色的小猫，被人打伤了，不过现在基本已经被我治好了，因为家里有2只狗没办法在收留它了，如有好心人喜欢请和我联系。希望你可以善待它！非诚勿扰，谢谢</h5>
<a href="http://bj.58.com/cwzengsong/13017887948426x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1629012560021786.jpg"><br><hr>
<h1>猫咪桃子找新妈妈</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=564B7FAD8F4F4CC04AE617A5FD5B027AF"><br><h5 style="display: inline">张小姐</h5>
<h5 style="display: inline">双井</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-25</h5>
<h5>姓名：核桃，性别：男，年龄：2周岁，胆小，亲人，对周边环境熟悉较慢，拥有一张包子脸，已经注射过疫苗，虽然已做过绝育，但是身材较好，属于健壮型，从小家养，吃的是天然猫粮，每周一回罐,非常可爱，让人喜欢！很活泼，最好家中有猫咪做伴，因为他非常喜欢玩耍，很调皮，由于个人条件和能力的限制，需要一个有爱心的人士收养，收养他的人需要有耐心，让孩子能安心渡完此生，发几张照片,有喜欢的朋友请与我联系。</h5>
<a href="http://bj.58.com/cwzengsong/11602586382082x.shtml">detail</a><br><img src="http://2.pic.58control.cn/p1/big/n_1630295597466905.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1630295286254103.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1630295349234201.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1630295421911577.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1630295517643800.jpg"><br><hr>
<h1>小白猫求新主人</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=BFD83C2786E2FBF9H2B5D7B894DA774C5"><br><h5 style="display: inline">陈先生</h5>
<h5 style="display: inline">北京</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-24</h5>
<h5>因工作原因无法继续养，求一新主人。周末联系我有猫窝、猫砂、食盒、猫粮。只求一好主人</h5>
<a href="http://bj.58.com/cwzengsong/13018954448513x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1629148708127514.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1629148869673754.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1629149080748056.jpg"><br><hr>
<h1>黄白猫咪 免费赠送</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=858B426228E22277J296CB0D55C28884E"><br><h5 style="display: inline">li</h5>
<h5 style="display: inline">回龙观</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-24</h5>
<h5>自家大黄猫 超级亲人 现免费赠送 有能长期饲养的可以联系</h5>
<a href="http://bj.58.com/cwzengsong/13016125352962x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1628786751916058.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1628786909233432.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1628787017041690.jpg"><br><hr>
<h1>可爱有灵性的猫咪求新家</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=FCFAE29F0C08B488T81A68E3A9A3A1B01"><br><h5 style="display: inline">王小姐</h5>
<h5 style="display: inline">常营</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-24</h5>
<h5>猫咪是从小家养的猫咪都很乖 很有灵性 听得懂你训斥它们 也会向你求安慰 吃猫粮 会用猫砂 一公一母 小母猫是只长毛猫  很漂亮 小公猫最爱粘人求抱抱 而且已做绝育  因为个人生活环境变动原因无法在继续养 所以希望有好心人领养 能给咪咪们一个稳定的家 如果想了解更多情况 可电话联系 </h5>
<a href="http://bj.58.com/cwzengsong/13015093848577x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1628641872955159.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1628647975534872.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1628648594409752.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1628649645981720.jpg"><br><hr>
<h1>因搬家有一猫一狗 求好心人收养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=0FAF442CA2EB80158C881D9A324A6912E"><br><h5 style="display: inline">小葛</h5>
<h5 style="display: inline">回龙观</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-23</h5>
<h5>有领养的  请联系我  有猫砂 猫粮什么的赠送</h5>
<a href="http://bj.58.com/cwzengsong/13007614533642x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1627697411917593.jpg"><br><hr>
<h1>自家养龙猫便宜转让</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=C25114D496504AB2J2CD705D1002B911B"><br><h5 style="display: inline">李小姐</h5>
<h5 style="display: inline">高碑店</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">3小时</h5>
<h5>由于工作原因，龙猫转让。成年龙猫一对1300元，带豪华龙猫笼（由于母猫在怀孕期间出现咬毛现象，正在恢复期）。2012年12月12日出生的龙猫DD一只500元，带标准笼。近期够买送零食、牧草、粮食、浴沙、木屑。</h5>
<a href="http://bj.58.com/cwzengsong/13048743833605x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1632961620575769.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1632961745682713.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1632961854865944.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1632961956954137.jpg"><br><hr>
<h1>四只小猫求领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=59E85158E55808950D0BB45DA81A9C42F"><br><h5 style="display: inline">陶先生</h5>
<h5 style="display: inline">劲松</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">46分钟</h5>
<h5>小猫三个月大 四种花色 求靠谱人领养</h5>
<a href="http://bj.58.com/cwzengsong/12716549276295x.shtml">detail</a><br><img src="http://1.pic.58control.cn/mobile/big/n_1590441051195930.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1590441197061401.jpg"><br><img src="http://3.pic.58control.cn/mobile/big/n_1590441256648985.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1590441295414042.jpg"><br><img src="http://2.pic.58control.cn/mobile/big/n_1590441363653402.jpg"><br><hr>
<h1>白色猫咪(赠送)</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5E9756BAF89521B6H46F94A9A672303D8"><br><h5 style="display: inline">卢女士</h5>
<h5 style="display: inline">玉泉路</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-23</h5>
<h5>自家养的白色母猫 2岁 已经做了绝育 乖巧可爱,求有爱心的人领养 ,我家住在石景山玉泉路附近,希望领养人住的地方不会离我太远。小猫自取!</h5>
<a href="http://bj.58.com/cwzengsong/13004961999489x.shtml">detail</a><br><img src="http://2.pic.58control.cn/p1/big/n_1627356725511192.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1627357021716506.jpg"><br><hr>
<h1>求好心人 赠送一只暹罗猫帅哥</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=78892CCD96A36FA10415FE7B30BA7C0AD"><br><h5 style="display: inline">齐先生</h5>
<h5 style="display: inline">昌平周边</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">02-21</h5>
<h5>因家里有只妹妹 怕她寂寞 所以想找个帅哥陪伴 求好心人成全！！可自取·</h5>
<a href="http://bj.58.com/cwzengsong/12985357572099x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1624848683583770.jpg"><br><hr>
<h1>可爱猫咪寻新主人</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=F1EAE4E13FDADD0302331B3F326788A9B"><br><h5 style="display: inline">贾先生</h5>
<h5 style="display: inline">永定路</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-21</h5>
<h5>猫咪的14月大，公猫，打针但未做绝育由于工作原因不能继续饲养。寻找有爱心，喜欢小动物的主人。</h5>
<a href="http://bj.58.com/cwzengsong/12981079932681x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1624300715116570.jpg"><br><hr>
<h1>宝贝猫咪2年寄养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=530D022D3CF76B50X9F980CC335F9733B"><br><h5 style="display: inline">肖小姐</h5>
<h5 style="display: inline">望京</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-20</h5>
<h5>猫咪是我家宝贝 2年寄养 2年后根据情况也可以再商议 要求是北京安家有养猫经验的 这三条非常重要 不符合任何一条就不要联系了 qq 100311145 电话是错的</h5>
<a href="http://bj.58.com/cwzengsong/12974852170242x.shtml">detail</a><br><img src="http://3.pic.58control.cn/mobile/big/n_1623491549382424.jpg"><br><hr>
<h1>求领养猫咪一只或一对儿</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">福先生</h5>
<h5 style="display: inline">中关村</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">02-16</h5>
<h5>超级爱猫，收入稳定，来北京一年多了，想养只猫咪互相陪伴，家里有天台可以晒太阳，本人微胖，吃饭挑嘴，所以喵的伙食肯定不仅限于猫粮（它吃鱼肯定比我多），养喵经验丰富（小学和初中时候家里养过直到善终，大学寝室也养过一只目前健在室友亲戚家）。故求养猫咪一只或两只，GGMM都行，最好短毛，年龄最好不超过1岁，花色希望对称或统一，身体健康（最好别太瘦）。下图为家里以前养的“警长”（听名字就知道下图是哪只了吧）和大学时养的“虎子”（躺在我腿上拍的）  ，发布后收到很多爱猫但由于种种原因无法继续养喵人士的电话，第一只已领养成功见下图，家中还能再容纳一只来陪咪咪（感谢ZX同学将喵赠送给我，短毛大脸大眼睛溜圆的哪只），另外，之前打电话送一窝喵的阿姨，如果你是出差我可以帮你代养一段时间。</h5>
<a href="http://bj.58.com/cwzengsong/12927973695746x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1617502765401368.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1617503277613081.jpg"><br><hr>
<h1>赠送普通猫咪一只</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=3A79B09A57399F6685BB8F3D91E051D43"><br><h5 style="display: inline">林小姐</h5>
<h5 style="display: inline">西北旺</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-14</h5>
<h5>邻居阿姨回老家 没有人照看猫咪 托我发个贴 给豆豆 找个好人家 猫贩子勿扰 豆豆今年1岁8个月大  已经做过绝育手术 身体健康 有意者请联系我</h5>
<a href="http://bj.58.com/cwzengsong/12906975605512x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1614814637752601.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1614815221186585.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1614815420303897.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1614815579488280.jpg"><br><hr>
<h1>收养小猫小兔小只有百分百爱心</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=C8135EC4E41DF8E4DC26C94165EB9B217"><br><h5 style="display: inline">戴女士</h5>
<h5 style="display: inline">清源</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">02-07</h5>
<h5>现在特别想领养一只  小猫或者小兔！ 但是现在在老家！求一只一只！我现在特别有爱心太想要了！！</h5>
<a href="http://bj.58.com/cwzengsong/12830784705153x.shtml">detail</a><br><img src="http://3.pic.58control.cn/mobile/big/n_1605058497904665.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1605058687060250.jpg"><br><hr>
<h1>小猫咪领养</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5257E50DAF63A8D0X9491F4E5EA9ADDBE"><br><h5 style="display: inline">灰小蝶</h5>
<h5 style="display: inline">安定门</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">02-02</h5>
<h5>我家有一只猫，才一岁多，无任何病现在只求能为他找到一位能够善待它，不要轻易的抛弃他</h5>
<a href="http://bj.58.com/cwzengsong/12772554205702x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1597604652419353.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1597607807893784.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1597608156905752.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1597608364640538.jpg"><br><hr>
<h1>半年大猫弟弟急</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=491BCD1097F4C320Z7DE01DE0D0FBAA30"><br><h5 style="display: inline">玲玲</h5>
<h5 style="display: inline">奥运村</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-02</h5>
<h5>非常懂事乖巧的猫弟弟.带猫粮</h5>
<a href="http://bj.58.com/cwzengsong/12769376927491x.shtml">detail</a><br><img src="http://4.pic.58control.cn/mobile/big/n_1597199565276442.jpg"><br><hr>
<h1>为猫娃娃找新家</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=CD0D04E83003B67C04871FBBD201A0B57"><br><h5 style="display: inline">刘女士</h5>
<h5 style="display: inline">朝阳</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-01</h5>
<h5>家里猫妈妈生了猫娃娃。小猫娃娃6只，加上猫妈妈五只，家里猫猫实在太多了，照顾不过来了！小娃娃已两个多月，个个健康，活泼。现为猫娃娃们找新家。新妈妈要有爱心，真心疼爱它，真诚照顾它。感谢领养小娃娃们的新妈妈！请猫贩勿扰！</h5>
<a href="http://bj.58.com/cwzengsong/12763261577603x.shtml">detail</a><br><img src="http://2.pic.58control.cn/p1/big/n_1596418481555225.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1596418886337816.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1596419423617048.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1596419788210967.jpg"><br><hr>
<h1>八个月猫咪免费送-女-急--已送出 谢谢关注</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=9F949B54EB1E1D234A2A28C3111AA65DC"><br><h5 style="display: inline">吕小姐</h5>
<h5 style="display: inline">北京</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-06</h5>
<h5>吃猫粮从来不偷吃人的东西 不搞破坏   很粘人   总喜欢坐在人旁边  我是个胆小的女孩 偶尔我一个人在家她好像能感觉到我害怕似的   我醒着时候在我旁边卧着  我躺下睡觉她就在我枕头边上看着我 直到我睡着   如果屋里不是我一个人 她就该干什么干什么了 每次我晚上上厕所她都会陪我一起去  洗衣服或者洗澡的时候她更是一步不离的守着我  （猫是怕水的动物  它们认为水是很危险的东西  所以我每次碰水她都会在旁边守着 好像怕我出事似的） 真的很神奇   这家伙要成精   因为我要离开北京了 火车汽车都没法带她  自己也没有车  实在是没办法了   哪位好心人能收养它   我的要求并不高  只要能给她一个温暖的家  饿不着 冻不着就可以了   千万别把她丢了 如果领养之后不想要了 一定要联系我  我接她回来  。能接受回访 不过我可以保证不会打扰到新主人的生活  我只是想知道她过的好不好 </h5>
<a href="http://bj.58.com/cwzengsong/12814998229513x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1603037626139930.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1603038015080217.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1603038301683735.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1603038697931288.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1603039117230104.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1603040268257306.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1603042211301658.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1603042348501528.jpg"><br><hr>
<h1>3只两个月大毛茸茸活泼萌猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=95EBC209F5EEBEC80619F3D5B3D643566"><br><h5 style="display: inline">佳佳</h5>
<h5 style="display: inline">木樨园</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-06</h5>
<h5>3只活泼调皮好奇毛茸茸小猫 等待主人 她们会用猫砂能吃猫粮 对世界充满好奇 ，2只长毛琥珀色和奶牛色 一直短毛 黑脑袋白身子。家里猫太多了养不下这三个孩子 ，快来领养他们吧 限北京，什么春节回家过年把他们扔家里不管的就不要来了</h5>
<a href="http://bj.58.com/cwzengsong/12814972681093x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1603039033083162.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1603038608885784.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1603038686740505.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1603038922721562.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1603039421513752.jpg"><br><hr>
<h1>想领养只母龙猫与公的作伴</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=1291865D3BC70A4A0B0FD55C82D46F653"><br><h5 style="display: inline">瑶瑶</h5>
<h5 style="display: inline">宣武周边</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">02-18</h5>
<h5>想领养只龙猫mm,跟我家龙猫dd,作伴，本人长居住北京，如果您家有没法照顾了的龙猫mm请联系我，健康就好，不限品种～ 我很爱我家爪爪，会尽我所能的的给它们一切的爱～（电话如果没打通，可以短信我会尽快回复），给它求一媳妇，我会尽我所能给它们我全部的爱～</h5>
<a href="http://bj.58.com/cwzengsong/12943591439625x.shtml">detail</a><br><img src="http://1.pic.58control.cn/mobile/big/n_1619502097514520.jpg"><br><hr>
<h1>一黑一白两只猫咪找好心人帮忙带春节这几天</h1>
<img src="%E4%BF%9D%E5%AF%86"><br><h5 style="display: inline">果果</h5>
<h5 style="display: inline">昌平县城</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">02-05</h5>
<h5>由于本人春节要回老家过年，心爱的两只猫咪无人照料，所以寻求喜欢猫咪的好心人帮忙带几天。我家猫咪都很可爱，很亲近人。小黑猫喜欢抱着我得小腿让给他好吃的，是个交际花。大白猫孤傲，喜欢照镜子</h5>
<a href="http://bj.58.com/cwzengsong/12794465779203x.shtml">detail</a><br><img src="http://1.pic.58control.cn/mobile/big/n_1600414623907864.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1600414634312985.jpg"><br><img src="http://1.pic.58control.cn/mobile/big/n_1600414637591066.jpg"><br><img src="http://3.pic.58control.cn/mobile/big/n_1600414664573976.jpg"><br><img src="http://3.pic.58control.cn/mobile/big/n_1600414679107609.jpg"><br><hr>
<h1>春节回家一周.找个沙河附近的好人家寄养猫咪一周</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=10516ECD6AD4D6C54DAE865A4710EA61C"><br><h5 style="display: inline">闫先生</h5>
<h5 style="display: inline">沙河</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-30</h5>
<h5>我家 咪咪 7个多月 男性 因为过年回家一周  希望在北京沙河城铁附近的好人家帮忙寄养1周 2月6.7号到2-15号.猫砂猫粮我们自备  我自送自取 绝对不能打它  如需费用可详谈.</h5>
<a href="http://bj.58.com/cwzengsong/12738583820297x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1593253572493336.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1593253716869655.jpg"><br><hr>
<h1>跪求一只可爱的小猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=17A70F0EAE0978FCB737921DD08A67364"><br><h5 style="display: inline">唐先生</h5>
<h5 style="display: inline">通州周边</h5>
<h5 style="display: inline">类型：领养</h5>
<h5 style="display: inline">01-30</h5>
<h5>特喜欢小猫咪，希望好心人赠送，我会好好照顾它的。最好是刚几个月的。非常感谢</h5>
<a href="http://bj.58.com/cwzengsong/12737598722690x.shtml">detail</a><br><img src="http://1.pic.58control.cn/mobile/big/n_1593131997169944.jpg"><br><hr>
<h1>家附近有只被遗弃的小花猫,生病了</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=D4BC1E2E496390732D4B21ACCEE9B1223"><br><h5 style="display: inline">李先生</h5>
<h5 style="display: inline">刘家窑</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-29</h5>
<h5>挺乖的小猫，由于他以前的主人搬家，把他遗弃了，如果家里有喜欢猫猫的就请领养了吧 猫很乖，天很冷，小猫总是冷的喵喵叫，但是我有哮喘对猫过敏 家里还有小狗 无法饲养。   小猫今天抱回来给他洗了个澡  他就乖乖的站在洗衣机上两个小时不动了很听话、医生说是呼吸道和内脏感染了 可能是小猫吃脏东西了，给他打针了，但是家里不能长时间养，天气好了 打算把小猫放回小区。希望能有好心人领养，小猫差不多五六岁吧 ，毛干了后感觉毛茸茸的很可爱，经常站在我家门口 想进家门  他很想有个家</h5>
<a href="http://bj.58.com/cwzengsong/12732023677698x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1592422023923481.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1594760596621849.jpg"><br><hr>
<h1>免费送养三花猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=22B8A01C1FA4168701EDD54010E8D5FF0"><br><h5 style="display: inline">赵女士</h5>
<h5 style="display: inline">北沙滩</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-30</h5>
<h5>自家养的小母猫，现在一岁多，很乖，已做绝育因为最近计划要宝宝，家里人不同意继续养希望找到爱猫人士，给小猫一个温暖的家谢谢家中另有封闭式猫砂盆，猫包，猫粮，猫砂，也一并免费赠送因为自己没有车，烦请自取</h5>
<a href="http://bj.58.com/cwzengsong/12738707036161x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1593276511650074.jpg"><br><hr>
<h1>宠物猫赠送啦,希望好心人收留</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=491976AD8D686940L0EC8816B117D761C"><br><h5 style="display: inline">余先生</h5>
<h5 style="display: inline">通州</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-29</h5>
<h5>因要回老家过年，没办法养，希望找个好主人继续领养它，太忙了. 猫咪也有2个月没打理了，毛没照片顺， 不多说了看照片吧，还有5天回家了 不收取任何费用 就希望找个好主人继续领养 母猫咪已经做了绝育 预防针都打过了 猫咪在通州台湖，有要的朋友，可以过来拿</h5>
<a href="http://bj.58.com/cwzengsong/12732390872327x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1592467539641623.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1592467745915929.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1592467978635032.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1592468173112602.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1592468374340887.jpg"><br><hr>
<h1>赠送俩个月小猫一只</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5319C62AF8B40AC9XCDF2615EE27E00C8"><br><h5 style="display: inline">张扬</h5>
<h5 style="display: inline">西坝河</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-24</h5>
<h5>本人有俩只一只是白的，一只是黄的，打算给黄颜色的猫猫找个疼它的主人。</h5>
<a href="http://bj.58.com/cwzengsong/12677193632137x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1585403699938584.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1585407060885785.jpg"><br><hr>
<h1>希望有好心人士收养我家猫咪</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=622C996806B8B816J2643D2DC2B0A3AD7"><br><h5 style="display: inline">李媛</h5>
<h5 style="display: inline">窦店</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-24</h5>
<h5>大猫是三花猫 长毛  一岁多，很乖，冷了会自己钻被窝，爱干净，不吵不闹，喜欢晒太阳，爬在窗台看窗外，胆小，不乱跑，去小区超市买东西，放到对面草丛里，回来它还是会在原地呆着等你的。会用猫砂，不乱吃东西。小猫中华田园猫  三个月多，活泼好动，很聪明 千万别教它做坏事，学的可快。收养小猫回赠送它的玩具和沐浴露，这两只小猫都不是我的，我是米有办法要搬家，不能带着它们，猫的主人竟然让我丢掉，我不忍心，所以希望有好心人士收留它们。</h5>
<a href="http://bj.58.com/cwzengsong/12673376057354x.shtml">detail</a><br><img src="http://3.pic.58control.cn/p1/big/n_1584914923979032.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1584915015943192.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1584915068847383.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1584915123405080.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1584915160040218.jpg"><br><hr>
<h1>美丽亲人的猫咪公主找家</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=3C9BB41A902D9AF00A3C6DA2BC5E06E0C"><br><h5 style="display: inline">史女士</h5>
<h5 style="display: inline">大兴</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-24</h5>
<h5>公主是早些时候被无良主人弃养在某公园的骄傲可人，因为外表过于美丽动人，所以也曾经一度被一些好心人拿回家照顾，无奈那时的公主还惦记从前的家庭，所以一直不适应新家，今年入冬，实在不忍心让公主还在外面流浪，所以被救助人抱回家，果然公主没让我们失望，很快适应家庭生活，并且异常的依赖人类，所以现在才敢放心大胆的给她找家。希望想要饲养宠物的你，可以给这种流浪过的孩子一个家。也许，你会担心成年猫咪很难相处出很深的感情，其实，这么多领养经验下来。反而是那些已经成年，并且遭遇过流浪的猫咪，更珍惜一个家庭带给自己的幸福感。要求：善良，对动物有耐心，对待猫咪真正像对待一个生命一样。不离不弃，不因搬家、结婚生子等原因遗弃它。并且时常给救助人发一些近照，让我们知道你们都安好！</h5>
<a href="http://bj.58.com/cwzengsong/12666690483075x.shtml">detail</a><br><img src="http://4.pic.58control.cn/p1/big/n_1584057667846938.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1584058044334105.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1584058514623002.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1584058858521113.jpg"><br><hr>
<h1>(急)离京,赠送两只白色小猫</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=E650B38A761BEFAB06FA75A423B50DF22"><br><h5 style="display: inline">黄先生</h5>
<h5 style="display: inline">垡头</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-28</h5>
<h5>本人31号离京，有两只白色小猫赠送给有爱心的人家，一只公，一只母，公猫已经做节育，都是1岁多，母猫眼睛一只蓝色一只黄色，公猫两只眼睛都是蓝色，喜欢猫的童鞋，请速与我联系，无偿赠送。</h5>
<a href="http://bj.58.com/cwzengsong/12715994653441x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1590370112227864.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1590370132935192.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1590370144257303.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1590370158561816.jpg"><br><hr>
<h1>可爱小喵赠送——带携带箱、猫窝、猫粮</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=9E5E6CC17EE389452180BF0D34C9B59FB"><br><h5 style="display: inline">袁女士</h5>
<h5 style="display: inline">航天桥</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-22</h5>
<h5>可爱猫咪，比较粘人，已经打过疫苗</h5>
<a href="http://bj.58.com/cwzengsong/12653979339654x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1582430067362328.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1582431572803610.jpg"><br><hr>
<h1>求好心人领养猫猫。</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=5110CB0DF04D48E0029851420EAD591B7"><br><h5 style="display: inline">王先生</h5>
<h5 style="display: inline">团结湖</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-22</h5>
<h5>家中变故，所以陆续领养的猫咪现在没办法继续养了，求好心人领养。</h5>
<a href="http://bj.58.com/cwzengsong/12651842773257x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1582151486652697.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1582151621215770.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1582151819593496.jpg"><br><img src="http://4.pic.58control.cn/p1/big/n_1582152187330584.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1582152612775961.jpg"><br><img src="http://1.pic.58control.cn/p1/big/n_1582152973484825.jpg"><br><img src="http://3.pic.58control.cn/p1/big/n_1582153354167319.jpg"><br><img src="http://2.pic.58control.cn/p1/big/n_1582158918337817.jpg"><br><hr>
<h1>可爱猫咪赠送</h1>
<img src="http://image.58.com/showphone.aspx?t=v55&amp;v=9908E94331647F99RC70AEDBB38B8407D"><br><h5 style="display: inline">与小猫</h5>
<h5 style="display: inline">大兴</h5>
<h5 style="display: inline">类型：赠送</h5>
<h5 style="display: inline">01-21</h5>
<h5>因过年回家，忍痛赠送黄白相间猫咪一只。</h5>
<a href="http://bj.58.com/cwzengsong/12641319238019x.shtml">detail</a><br><img src="http://1.pic.58control.cn/p1/big/n_1580811771921689.jpg"><br><hr>
</div>
</html>
